.playCoPlaylistDetailPage {
  flex-wrap: nowrap;
}

.playCoPlaylistDetailPage>header {
  margin: 0;
}

.playCoPlaylistDetail {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 90%;
}

.playCoPlaylistDetailAddTextField {
  margin: .25rem;
  width: calc(100% - 0.5rem);
  font-size: 8pt;
}

.playCoPlaylistDetailBtnGroup {
  display: flex;
  justify-content: space-between;
}

.playCoPlaylistDetailList {
  flex: 1 1 0;
  overflow-y: auto;
}

.playCoPlaylistDetailListTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.playCoPlaylistDetailListTitle {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow-y: hidden;
  position: relative;
}

.playCoPlaylistDetailListRefreshTooltip {
  width: max-content;
}

.playCoPlaylistDetailListRefreshButton {
  position: absolute;
  right: 0;
}

.playCoPlaylistDetailListRefreshButtonIconContainer {
  width: 1.75rem;
  height: 1.75rem;
}

.playCoPlaylistDetailListItem:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.playCoPlaylistDetailListItemThumbnailContainer {
  aspect-ratio: 16/9;
}

.playCoPlaylistDetailListItemInfoContainer {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.playCoPlaylistDetailListItemTitle {
  width: 100%;
  margin-bottom: 0.5rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;

  display: block;
  overflow: hidden;

  text-align: start;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: var(--bs-body-font-size);
}

.playCoPlaylistDetailListItemListenerListContainer {
  width: 100%;
  overflow-x: hidden;
}

.playCoPlaylistDetailListItemListenerList {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
}

.playCoPlaylistDetailPlayerAside {
  flex: 2 1 0;
  height: -moz-fit-content;
  height: fit-content;
}

.playCoPlaylistDetailPlayerContainer {
  position: relative;
  padding-top: 56.25%;
  width: 100%;
}

.playCoPlaylistDetailPlayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.playCoPlaylistDetailPlayerBtnGroup {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 80rem) {
  .playCoPlaylistDetail {
    width: 95%;
  }
}

@media only screen and (max-width: 60rem) {
  .playCoPlaylistDetail {
    flex-direction: column-reverse;
    width: 100%;
    height: unset;
  }

  .playCoPlaylistDetailList {
    width: calc(100% - 2rem);
    overflow-y: unset;
  }

  .playCoPlaylistDetailPlayerAside {
    width: calc(100% - 2rem);
  }
}
