.accountMain {
}

.accountAside {
  max-width: var(--width-card-medium);
  min-width: var(--width-card);
  width: 40%;
  padding: 0;
}

.accountAside form {
  border: none;
  box-shadow: none;
}

.accountAsideFormGroup {
  margin-bottom: .75rem;
}

.accountSubmitBtnContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.accountSubBtnContainer {
  margin: .5rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.signInGoToResetPassword {
  width: 100%;
  text-align: center;
  color: royalblue;
}

.accountSubBtnContainer small {
  color: var(--color-75);
}
