.toolMain {}

.toolMain>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.toolMain>div>aside {
  position: relative;
}

.toolMain>div>aside>h4 {
  margin-bottom: .5rem;
}

.toolMain>div>aside> :last-child {
  position: absolute;
  bottom: 0;
  right: 0;
}

.toolLibUsedContainer {
  /* margin: 0; */
}

.toolLibUsed {
  margin-top: 0;
  margin-bottom: 0;
  top: 0;
  background-color: dodgerblue;
  color: white;  /* This is intended */
}

@media only screen and (max-height: 410px) {
  .toolMain {
    height: -moz-fit-content;
    height: fit-content;
  }
}
