.blogRoot {}

.blogBody {
  width: 70%;
  height: 70%;
  padding: 2rem;

  border-radius: 1rem;

  color: var(--color);
  text-align: start;
}

.blogBody>header {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
