.homeIntroduceSection ul {
  margin: .5rem 0;
}

.homeIntroduceSection {
  display: block;
  padding-left: 2rem;
  padding-right: 2rem;
  /* min-height: 100%; */
  height: max-content;
  width: 100%;

  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;

  font-size: 1rem;
  font-weight: normal;
}

.homeIntroduceSection * {
  text-align: start !important;
}

.homeIntroduceSection header {
  margin: 0 2rem;
  width: calc(100% - 4rem);
}

.homeIntroduceArticle {
  margin: 1rem;
}

.homeIntroduceArticle>* {
  padding: 1rem;
}

.homeSkillsArticle aside {
  width: calc(100% - 3rem);
}

.homeIntroduceArticle p {
  text-indent: .75em;
}

.homeIntroduceArticle p ul li {
  text-indent: 0;
}

.homeIntroduceMySelf {
  padding-bottom: 0;
  width: 66%;
}

.homeIntroduceLinkArticle {
  font-weight: normal;
}

.homeIntroduceLinkContainer {
  display: flex;
  flex-wrap: wrap;

  color: var(--color);
}

.homeIntroduceLink,
.homeIntroduceLink:hover {
  text-decoration: none;
}

.homeIntroduceLinkBox {
  width: 15rem;
  margin: .5rem;
  padding: .75rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;

  color: var(--color);
}

.homeIntroduceLinkBoxTwitter {
  background-color: rgba(57, 120, 163, .6);
}

.homeIntroduceLinkBoxGmail {
  background-color: rgba(142, 54, 51, .6);
}

.homeIntroduceLinkBoxKakaoMail {
  background-color: rgba(170, 157, 43, .6);
}

.homeIntroduceLinkBoxPhone {
  background-color: rgb(52, 116, 49, .6);
}

.homeIntroduceLinkIcon {
  width: 3rem;
  flex-grow: 0;

  font-size: 2rem;
  color: var(--color);
}

.homeIntroduceLinkTextBox {
  display: inline-block;
  margin: 0;
  margin-left: 1rem;

  flex-grow: 1;
  font-weight: bold;
}

.homeIntroduceLinkTextBox * {
  margin: 0;
}

.homeIntroduceLinkTextBox small {
  /* display: block; */
  color: var(--color-50);
}

.homeIntroduceEducated {
  padding-top: 0;
}

.homeIntroduceEducatedListItem {
  font-weight: bold;
}

.homeIntroduceEducatedSchoolName {
  display: inline-block;
  text-indent: .75rem;
  font-weight: normal;
}

.homeSkillsArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeSkillsArticle>aside {
  width: 70%;
}

.homeSkillsFoldBtn {
  display: inline-block;

  color: inherit;
  font-size: inherit;
  font-weight: normal;
}

.homeSkillsDetailsSummary h5,
.homeSkillsDetailsSummary h6 {
  display: inline-block;
}

.homeSkillsDetailsSummary h5:hover,
.homeSkillsDetailsSummary h6:hover {
  text-decoration: underline;
}

.homeSkillsArticlePythonDescription {
  width: 60%;
}

@media only screen and (max-width: 1500px) {
  .homeIntroduceMySelf {
    padding-bottom: 0;
    width: 100%;
  }

  .homeSkillsArticle>aside {
    width: 100%;
  }

  .homeSkillsArticlePythonDescription {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .homeIntroduceSection {
    padding-left: 0;
    padding-right: 0;

    font-size: 0.8rem;
  }
}
