.homeProjectsSection {
  min-height: 100% !important;
}

.homeProjectsArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectDescRow {
  width: 90%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: start;
  align-items: center;
  flex-wrap: nowrap;

  border-bottom: var(--border);
}

.projectDescRow.lastItem {
  border-bottom: unset;
  /* margin-bottom: 1rem; */
}

.projectDescRow,
.projectDescRow * {
  font-family: Pretendard;
}

.projectDescTitle {
  flex: 3 30%;
  margin: 0 !important;
  padding: 1rem 0;
}

.projectDescTitle * {
  width: 100%;
  margin: 0;
  text-align: center !important;
}

.projectName {
  font-size: 24pt;
  font-weight: 900;
  word-break: break-all;
}

.projectAs,
.projectPart,
.projectPeriod {
  font-size: 10pt;
}

.projectDescBody {
  flex: 7 70%;
  padding: 1rem;
}

.projectDescParagraph {
  width: 66%;
}

.projectTechStackTagContainer {
  min-height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projectTechStackTag {
  min-height: -moz-fit-content;
  min-height: fit-content;
  flex: 0;
  margin: 0.15rem;
  top: unset;

  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;

  font-size: 10pt;
  font-weight: bold;
  line-height: normal;
  word-break: keep-all;
  white-space: nowrap;

  border: var(--border);
}

.projectGithubBtn {
  display: inline-block;
  margin: 0 0.15rem;
}

@media only screen and (max-width: 1500px) {
  .projectDescParagraph {
    width: 100%;
  }
}
