.scrollIndicator {
  font-size: 14pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  color: var(--color-90);
}

.scrollIndicator span {
  width: 18px;
  height: 18px;

  margin-bottom: -6px;
  margin-left: 3.7279220614px;
  border-left: 2.5px solid var(--color-75);
  border-bottom: 2.5px solid var(--color-75);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);

  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}

.scrollIndicator span:last-child {
  margin-bottom: 1rem;
}

.scrollIndicator span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.scrollIndicator span:nth-of-type(2) {
  top: 12px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}

.scrollIndicator span:nth-of-type(3) {
  top: 24px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 1;
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes sdb07 {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 1;
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
