nav {
  margin-bottom: 0 !important;
}

.muNavBarContainer {
  width: 100%;
  position: fixed;
  z-index: 10000;
}

.muNavBar {
  width: 100%;
  background-color: none !important;
  justify-content: space-between !important;
}

.muNavBarLogoContainer {
  height: 40px;
  width: 4rem;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;

  font-size: unset;
  background-color: none;
  border-radius: 10%;
  transition: background-color .3s;
}
.muNavBarLogoContainer:hover {
  filter: none;
  background-color: var(--mu-img-background-hover);
}
.muNavBarLogoContainer:hover img,
.muNavBarLogoContainer.hover img {
  background-color: unset;
}

.muNavBarLogoContainer>img {
  max-height: 100%;

  border-radius: 50%;
  background-color: var(--mu-img-background);
  transition: background-color .3s;
}

.muNavBarDropdown {
  width: 4rem;
}

.muNavBarDropdownAccountInfoLoadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.muNavBarDropdownAccountInfoLoadingText {
  margin: 0 0.25rem;
}

.muNavBarDropdown>a {
  padding: 0 !important;
  color: var(--color-50);
}

.muNavBarDropdown>a:hover {
  color: var(--color-75);
}

.muNavBarDropdown>a:focus {
  color: var(--color-90);
}

.muNavBarDropdown>a>svg {
  height: 32px;
  width: 32px;
}

.muNavBarDropdownItem {
  text-align: center !important;
}

.muNavBarDarkmodeSwitch {
  width: -moz-fit-content;
  width: fit-content;
}
