.homePageContainer {
  overflow: hidden;
  font-variant-numeric: tabular-nums;
}

.homePage {
  min-height: 100% !important;
  height: 100%;
  width: calc(100% + 18px);
  padding-left: 10rem;
  padding-right: 10rem;
  overflow-y: scroll;
  box-sizing: border-box;
  -ms-scroll-snap-type: y proximity;
  scroll-snap-type: y proximity;
}

.homePage>* {
  scroll-snap-align: start;
}

.homePage>*>* {
  scroll-snap-align: none;
}

.homePageIndicator {
  max-height: 100% !important;
  min-height: 100% !important;
  height: 100% !important;
  overflow-y: hidden;
  width: 4.5rem;
  float: right;
}

@media only screen and (max-width: 970px) {
  .homePage {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  .homePageContainer {
    /* width: 100%; */
  }

  .homePage {
    width: 100%;
  }

  .homePageIndicator {
    display: none;
  }
}
